<div class="table">
    <input class="word-input" [(ngModel)]="searchInput" (ngModelChange)="searchWord($event)"  placeholder="Поиск слова...">
    <table border="1">
        <tr *ngFor="let word of words" class="word">
            <td>{{word.engilsh}}</td>
            <td>{{word.russian}}</td>
        </tr>
    </table>
</div>
<p-paginator rows="30" totalRecords="{{totalCount}}" (onPageChange)="paginate($event)" class="paginator"></p-paginator>