.table {
    width: 720px;
    margin: auto;
    text-align: center;
    font-size: 25px;
}
table {
    width: 100%;
}

td {
    width: 33%;
}

.paginator {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.add-form {
    background-color: blue;
    width: 30px;
    height: 30px;
}

.table input {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 28px;
    border-radius: 10px;
    background-color: aquamarine;
}