<div class = "english-wrapper">
    <div id="sidebar">
        <div class="sb">
            <div style="margin: auto; line-height: 75px;" [class.selected]="page == 'dictionary'"
                 (click)="navigateTo('dictionary')">Словарь</div>
        </div>
        <div class="sb">
            <div style="margin: auto; line-height: 75px;" [class.selected]="page == 'translation'"
                 (click)="navigateTo('translation')">Перевод книги</div>
        </div>
        <div class="sb">
            <div style="margin: auto; line-height: 75px;" [class.selected]="page == 'films'"
                 (click)="navigateTo('films')">Фильмы</div>
        </div>
        <div class="sb">
            <div style="margin: auto; line-height: 75px;" [class.selected]="page == 'tests'"
                 (click)="navigateTo('tests')">Тесты</div>
        </div>
    </div>
    <div class="add-form">
        <h1>Добавить слово</h1>
        <input  [(ngModel)] = "word.english" placeholder="Английское" (keypress)="onKeyPress($event)">
        <input [(ngModel)] = "word.russian" placeholder="Русское" (keypress)="onKeyPress($event)">
        <button (click)="addWord()">Добавить</button>
    </div>
    <dictionary [hidden]="page!='dictionary'"></dictionary>
    <test [hidden]="page!='tests'"></test>
    <transate [hidden] = "page!='translation'"></transate>
</div>