#sidebar {
    height: 300px;
    background: dodgerblue;
    color: white;
    width: 213px;
    position: absolute;
}

.english-wrapper {
    width: 100%;
    height: 100%;
}

.sb {
    height: 25%;
    text-align: center;
    font-size: 26px;
}

.sb:hover {
    background-color: blue;
    cursor: pointer;
}

.sb p {
    
}

.selected {
    background-color: blue;
}

.add-form {
    background-color: blue;
    text-align: center;
    width: 213px;
    height: auto;
    position: absolute;
    top: 450px;
}

.add-form h1 {
    color: white;
    font-size: 25px;
}

.add-form input {
    margin-bottom: 15px;
    height: 28px;
    border-radius: 10px;
}

.add-form button {
    margin-bottom: 10px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: greenyellow;
    font-weight: bold;
}
