<div class="options">
    <input type="radio" [(ngModel)]="typeOfWords"  name="typeOfWords" value="All" checked="true">За всё время<br>
    <input type="radio" [(ngModel)]="typeOfWords" name="typeOfWords" value="Today">За сегодня<br>
    <label>Количество вопросов </label><input [(ngModel)]="count" class="option_question_count">
    <button (click)="startTest()" class="test_btn">Начать тест</button>
</div>
<div class="test" [hidden] = "!test_started || test_finished">
    <div class="question">
        <label class="question_word">{{currentQuestion?.russian}}</label><br>
        <input [(ngModel)]="answer" class="answer"><br>
        <button (click)="nextQuestion()" class="test_btn">next</button>
    </div>
</div>
<div class="result" [hidden] = "!test_finished">
    <label>Правильных ответов: {{ correctAnswersCount }}</label><br>
    <div class="table" [hidden] = "wrongAnswers.length == 0">
        <label>Ошибся в словах:</label><br>
        <table style="width: 100%" border="1">
            <tr *ngFor="let word of wrongAnswers">
                <td>{{ word.engilsh }}</td>
                <td>{{ word.russian }}</td>
            </tr>
        </table>
    </div>
</div>