.options {
    width: 330px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.test {
    width: 330px;
    margin: auto;
}

.option_question_count {
    width: 30px;
}

.test_btn {
    margin-bottom: 10px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: greenyellow;
    font-weight: bold;
}

.question {
    margin-top: 100px;
    text-align: center;
    background-color: antiquewhite;
    width: 330px;
    height: 190px;
    padding-top: 15px;
    font-size: 30px;
}

.question_word {

}

.answer {
    margin-bottom: 15px;
    height: 28px;
    border-radius: 10px;
}

.result {
    text-align: center;
    background-color: antiquewhite;
    width: 330px;
    padding-top: 15px;
    font-size: 30px;
    margin: 100px auto auto auto;
    height: auto;
}