<div class="book-select" [hidden]="bookSelectFlag">
    <ul style="margin: auto;">
        <li *ngFor="let book of books" (click)="selectBook(book)">{{ book.title }}</li>
    </ul>
</div>

<div *ngIf="selectedBook" class="main-wrapper" [hidden]="!bookSelectFlag">
    <div class="book">
        <iframe [src] = "currentPath"></iframe>
    </div>
    <button (click)="previousPage()" class="next-page-btn">Предыдущая страница</button>
    <button (click)="nextPage()" class="next-page-btn">Следующая страница</button>
    <br>
    <input  [(ngModel)] = "currentPage" (keypress)="onKeyPress($event)">
</div>
