.book-select {
    width: 500px;
    margin: auto;
}

.book-select:hover {
    cursor: pointer;
}

.main-wrapper {
    width: 75%;
    margin: auto 6% auto auto;
    height: 80%;
    text-align: center;
}

.book {
    height: 100%;
    width: 100%;
    float: left;
}

.book iframe {
    width: 100%;
    height: 100%;
}

.translation {
    height: 100%;
    width: 50%;
    float: right;
}

.next-page-btn {
    margin-bottom: 10px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: greenyellow;
    font-weight: bold;
    margin-top: 20px;
}