<div class="menu">
        <div class="film-menu-block">
       	        <a routerLink="/film" routerLinkActive="active">Фильмы</a>
        </div>
        <div class="book-menu-block">
                <a routerLink="/book" routerLinkActive="active">Книги</a>
        </div>
        <div class="knowledge-menu-block">
                <a routerLink="/knowledge" routerLinkActive="active">Знания</a>
        </div>
        <div class="english-menu-block">
                <a routerLink="/english" routerLinkActive="active">Английский</a>
        </div>
</div>
<hr class="line">
<router-outlet></router-outlet>
<to-do [hidden]="toDoHide" (hideTodo)="hideTodo()"  class="to-do"></to-do>
<div [hidden]="!toDoHide" (click)="showToDo()" class="show-todo-area">показать</div>