.menu {
    height: 80px;
    position: relative;
    margin-bottom: 50px;
}

.menu div {
    text-align: center;
}

.menu a {
    text-decoration: none;
    transition: all 0.5s;
    color: #E03237;
}

.menu .film-menu-block{
    position: absolute;
    width: 25%;
    height: 100%;
}
.menu .book-menu-block{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 25%;
}
.menu .knowledge-menu-block{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 50%;
}

.menu .english-menu-block {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 75%;
}


.menu a {
    display: block;
    height: 100%;
    font-size: 3vw;
}

.menu a:hover {
background-color: grey;
}

.menu a.active {
    border-radius: 3px;
    padding: 2px 8px;
    background-color: #E03237;
    color:white;
}

.line {
    margin-top: -40px;
    margin-bottom: 0px;
}

.to-do {
    position: fixed;
    right: 5px;
    bottom: 5px;
    background: url("/assets/img/2-antichnyj_papirus-400.png");
    height: 30%;
    text-align: center;
    max-width: 340px;
    padding: 30px;

}

.show-todo-area {
    position: fixed;
    right: -60px;
    bottom: 140px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    width: 10%;
    height: 3%;
    text-align: center;
    padding-top: 15px;
    background-color: chartreuse;
    font-style: italic;
}

.show-todo-area:hover {
    text-decoration: underline;
    cursor: pointer;
}
