<p-messages [(value)]="msgs"></p-messages>
<div class="add-form">
     <h1>Добавить фильм</h1>
     <label>Название</label>
     <input type="text" pInputText [(ngModel)]="title" placeholder="Название">
     <label>Код</label>
     <input type="text" pInputText [(ngModel)]="code" placeholder="Код">
     <br>
     <button pButton type="button" (click)="onAddFilm()" label="Добавить" [disabled]="checkBtn()"></button>

 </div>