<div class = "filmsWrapper">
    <div class="add-film">
        <button (click)="goToAddingFilmForm()" class="btn-add-film">Добавить фильм</button>
    </div>
    <input class="film-input" [(ngModel)]="searchInput" (ngModelChange)="searchFilm($event)"  placeholder="Поиск фильма...">
    <div *ngFor="let film of films" class="film">
        <a (click)="goToFilm(film.id)">{{ film.name }}</a>
    </div>
    <p-paginator rows="10" totalRecords="{{totalCount}}" (onPageChange)="paginate($event)"></p-paginator>
</div>