<div *ngIf="film" class="film-details">
    <h1 style="color: white;">{{film?.name}}</h1>
    <iframe [src] = "sanitizer.bypassSecurityTrustResourceUrl(film?.url)" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</div>
