.film {
    background-color: rgba(0, 112, 255, 0.75);
    width: 50%;
    border-radius: 10px;
    color: white;
    font-style: italic;
    margin: 15px auto;
    font-size: 2vw;
    text-align: center;
}

.film a {
    display: block;
}

.film a:hover {
    cursor: pointer;
}

.filmsWrapper {
    text-align: center;
    background: url("/assets/img/film2.jpg") no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-size: 100%;
}

.btn-add-film {
    background-color: red;
    font-size: 20px;
    border-radius: 40px;
    color: white;
    margin-left: 60px;
    height: 80px;
    width: 200px;
}

.add-film {
    text-align: right;
    margin-right: 60px;
}

.film-input {
    width: 50%;
    border-radius: 10px;
    font-style: italic;
    margin: 15px auto;
    font-size: 2vw;
    text-align: center;
}
