<div class="hide-word" (click)="hide()">спрятать</div>
<div class="add-todo">
    <button pButton type="button" label="+" class="complete-btn" (click)="addTodo()"></button>
    <input id="input" type="text" pInputText [(ngModel)]="inputText" placeholder="Что должно быть сделано?" (keypress)="onKeyPress($event)">
</div>
<div class="to-do-list">
    <div *ngFor="let line of todoList">
        <to-do-line [toDo]="line" (deleteTodo)="onDelete($event)" (refreshTodoList)="refreshTodoList()" class="to-do-line"></to-do-line>
    </div>
</div>
