.close-btn {
    background-color: transparent;
    color: greenyellow;
    font-weight: bolder;
}

.complete-btn {

}

.add-form button {

}

.add-form input {

}

.to-do-line {
    margin: 7px 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
