.to-do-list {
    overflow: scroll;
    height: 100%;
}
.to-do-list::-webkit-scrollbar {
    width: 0 !important
}

.hide-word {
    text-align: left;
    margin-top: -15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: -20px;
    text-decoration: underline;
}

.hide-word:hover {
    cursor: pointer;
}