<p-messages [(value)]="msgs"></p-messages>
<div class="add-form">
     <h1>Добавить знание</h1>
     <label>Категория</label>
     <p-autoComplete [(ngModel)]="category" [suggestions]="categoryList" (completeMethod)="filterCategory($event)" field="name"
                     placeholder="Категория" [minLength]="1">
     </p-autoComplete>

     <label>Название</label>

        <input id="input" type="text" pInputText [(ngModel)]="title" placeholder="Название">

    <br><br><br>

    <label>Содержимое</label><br>
     <!--<textarea pInputTextarea [(ngModel)]="content" autoResize="autoResize" placeholder="содержимое"></textarea>-->
    <p-editor  [(ngModel)]="content" [style]="{'height':'320px'}"></p-editor>
    <br>
     <button pButton type="button" (click)="onAddKnowledge()" label="Добавить" [disabled]="checkBtn()"></button>

 </div>