.edit-form {
    text-align: center;
}

.edit-form label {
    font-size: 25px;
}

.edit-form button {
    background-color: lightgreen;
    border-radius: 20px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 25px;
}

textarea {
    width: 700px;
    height: 500px;
    resize: none;
    font-size: 20px;
}
