<p-messages [(value)]="msgs"></p-messages>
<div class="edit-form">
    <h1>Редактировать знание</h1>

    <label>Категория: {{categoryName}}</label><br><br>


    <label>Название: {{knowledge?.title}}</label>

    <br><br><br><br>
    <label>Содержимое</label><br>
    <!--<textarea pInputTextarea [(ngModel)]="knowledge.content" autoResize="autoResize" placeholder="содержимое"></textarea>-->
    <p-editor  [(ngModel)]="knowledge.content" ></p-editor>
    <br>
    <button pButton type="button" (click)="onSaveKnowledge()" label="Сохранить"></button>
</div>
