<div class = "knowledge-Wrapper">
    <div class="add-knowledge">
        <button (click)="goToAddingKnowledgeForm()" class="btn-add-knowledge">Добавить знание</button>
    </div>
    <h1>{{category?.name}}</h1>
    <input class="knowledge-input" [(ngModel)]="searchInput" (ngModelChange)="searchKnowledge($event)"  placeholder="Поиск знания...">
    <div *ngFor="let knowledge of knowledges" class="knowledge">
        <a (click)="goToKnowledge(knowledge.id)">{{ knowledge.title }}</a>
    </div>
</div>