
.knowledge-category {
    background-color: rgba(0, 112, 255, 0.75);
    width: 50%;
    border-radius: 10px;
    color: white;
    font-style: italic;
    margin: 15px auto;
    font-size: 2vw;
    text-align: center;
}

.knowledge-category-input {
    width: 50%;
    border-radius: 10px;
    font-style: italic;
    margin: 15px auto;
    font-size: 2vw;
    text-align: center;
}

.knowledge-category a {
    display: block;
}

.knowledge-category a:hover {
    cursor: pointer;
}

.knowledge-category-wrapper {
    text-align: center;
    background: url("/assets/img/knowledge1.jpg") no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-size: 100%;
}

.btn-add-knowledge {
    background-color: red;
    font-size: 20px;
    border-radius: 40px;
    color: white;
    margin-left: 60px;
    height: 80px;
    width: 200px;
}

.add-knowledge {
    text-align: right;
    margin-right: 60px;
}


.today-knowledges-list {
    background-color: rgba(0, 112, 255, 0.75);
    width: 20%;
    height: 40%;
    float: left;
    color: white;
}

.today-knowledges-list::-webkit-scrollbar {
    width: 0 !important
}

.today-knowledge {
    margin: 5px 0px;
    cursor: pointer;
}