<p-messages [(value)]="msgs"></p-messages>
<h1 style="text-align: center">{{knowledge?.title}}</h1>
<div *ngIf="knowledge" class="knowledge">
    <!--<div [innerHtml]="knowledge?.content" class="knowledge-content"></div>-->
    <p-editor readonly="true" [(ngModel)]="knowledge.content" ></p-editor>
</div>
<div style="text-align: center">
    <button pButton type="button" (click)="onEditKnowledge()" label="Редактировать"></button>
    <button pButton type="button" (click)="onDeleteKnowledge()" label="Удалить"></button>
</div>
