<div class = "knowledge-category-wrapper">
    <div class="add-knowledge">
        <button (click)="goToAddingKnowledgeForm()" class="btn-add-knowledge">Добавить знание</button>
    </div>
    <div>
        <input class="knowledge-category-input" [(ngModel)]="searchInput" (ngModelChange)="searchCategory($event)"  placeholder="Поиск категории...">
    </div>
    <div class="today-knowledges-list">
        <h2>Знания за сегодня</h2>
        <div class="today-knowledge" *ngFor="let todayKnowledge of todayKnowledges" (click)="goToKnowledgeById(todayKnowledge.id)">
            {{todayKnowledge.title}}
        </div>
    </div>
    <div *ngFor="let category of knowledgeCategories" class="knowledge-category">
        <a (click)="goToKnowledgesByCategory(category.id)">{{ category.name }}</a>
    </div>
</div>
