.book {
    background-color: rgba(0, 112, 255, 0.75);
    width: 50%;
    border-radius: 10px;
    color: white;
    font-style: italic;
    margin: 15px auto;
    font-size: 2vw;
    text-align: center;
}

.book a {
    display: block;
    text-decoration: none;
    color: white;
}

.book a:hover {
    cursor: pointer;
}

.booksWrapper {
    text-align: center;
    background: url("/assets/img/book1.jpg") no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-size: 100%;
}